.attic/
.cache/
.venv/
.idea/
.mypy_cache/
.pytest_cache/
.vscode/
__pycache__/
*.pyc
/build
proto.gv*
.DS_Store
docs
*.md
# *.txt
CODEOWNERS
*.lock
*.bin
WORKSPACE
COPYING*
LICENSE*
.github
.gitmodules
FEATURES
BUILD*
FILES
*.log
build